<div class="card-inicial">
  <div class="titulo">
    <h1>Album layout</h1>
  </div>
  <div class="subtitulo">
    <p>
      Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet,
      but not too short so folks don't simply skip over it entirely.
    </p>
  </div>
  <div class="botoes">
    <button class="primeiro" mat-raised-button color="primary">MAIN CALL TO ACTION</button>
    <button class="segundo" mat-raised-button>SECUNDARY ACTION</button>
  </div>
</div>
