<div class="card-principal">
  <div class="card" *ngFor="let card of cards">
    <div class="card-externo">
      <div class="card-interno">
        <div class="card-img">
          <img src="https://source.unsplash.com/random" alt="img de teste">
        </div>
        <div class="card-txt">
          <h1>Heading</h1>
          <p>
            This is a media card. You can use this section to describe the content.
          </p>
          <div class="botoes">
            <button class="primeiro" color="primary" mat-button>VIEW</button>
            <button class="segundo" mat-button color="primary">EDIT</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
